<!DOCTYPE html>
<html>
	<head>
		<title>Base</title>
		<meta charset="utf-8" />
		
		<!-- css -->
		<link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css" />
		<link rel="stylesheet" href="/static/morris/morris.css" />
		<link rel="stylesheet" href="/static/css/base.css" />
	</head>
	<body>
		{% block body %}
		{% endblock %}
		
		<!-- sciprt -->
		<script src="/static/js/jquery-1.9.1.js"></script>
		<script src="/static/bootstrap/js/bootstrap.min.js"></script>
		<script src="/static/peity/jquery.peity.min.js"></script>
		<script src="/static/morris/morris.min.js"></script>
		<script src="/static/morris/raphael-min.js"></script>
		{% block script %}{% endblock %}
	</body>
</html>
