{% extends 'base.html' %}

{% block nav-container %}
<ul class="nav nav-tabs nav-stacked">
<li class="active">
	<a href="#sell" data-toggle="tab">销量</a>
</li>
<li><a href="#turnover" data-toggle="tab">营业额</a></li>
<li><a href="#cost" data-toggle="tab">成本</a></li>
<li><a href="#profit" data-toggle="tab">利润</a></li>
</ul>
{% endblock %}

{% block content-container %}
<div class="tab-content">
	<div class="tab-pane active" id="sell">
		{% include 'sell/sell-sell.html' %}
	</div>
	<div class="tab-pane" id="turnover">
		{% include 'sell/sell-turnover.html' %}
	</div>
	<div class="tab-pane" id="cost">
		{% include 'sell/sell-cost.html' %}
	</div>
	<div class="tab-pane" id="profit">
		{% include 'sell/sell-profit.html' %}
	</div>
</div>
{% endblock %}

{% block script %}
<script src="/static/js/sell.js"></script>
{% endblock %}